:root {
    --default-text-color: #ffffffdf;
    --default-text-color-open: #534ab7;

    --title-text-color-white: #fff;
    --title-text-color-dark: #36303f;

    --text-color-white: #ffffffdf;
    --text-color-black: #111111;

    --button-bg-color-white: #fff;
    --button-bg-color-dark: #362f62;

    --button-text-color-white: #fff;
    --button-text-color-dark: #362f62;

    --footer-fg-color-dark: #36303f;
    --footer-fg-color-white: #fff;
    
    --top-background-color-dark: #111218;
    --top-background-color-white: #f3eefe;
    
    --main-background-color-dark: #111218;
    --main-background-color-white: #f3eefe;

    --code-bg-color-dark: #1f1e2d;
    --code-bg-color-white: #dededf;
    --code-fg-color-dark: #36464e;
    --code-fg-color-white: #9893d9;
    --code-h1-variable-color-white: #d0cbdd;
    --code-h1-variable-color-dark: #27262a;

    --typeset-a-color: #6956c8;

    --table-background-color-dark: #181824;
    --table-background-color-white: #d2d2dd;

    --td-color-dark: #2a244d;
    --td-color-white: #cfc7e6;

    --admonition-bg-color-white: #181824;
    --admonition-bg-color-dark: #181824;

    --admonition-fg-color-white: var(--text-color-black);
    --admonition-fg-color-dark: var(--text-color-white);

    --md-accent-fg-color: #6956c8;

    --hr-white: #353535e0;
    --hr-dark: #353535e0;
}