:root {
    --default-text-color: #7064fd; /*#c46fd3*/
    --title-text-color-white: #fff;
    --title-text-color-dark: #36303f;
    --button-bg-color-white: #fff;
    --button-bg-color-dark: #362f62;
    --button-text-color-white: #fff;
    --button-text-color-dark: #362f62;
    --footer-fg-color-dark: #36303f;
    --footer-fg-color-white: #fff;
    --background-color-dark: #161044;
    --background-color-white: #5744e3; /*#ab47bd*/
}

[data-md-color-scheme="slate"] {
    --title-text-color: var(--title-text-color-white);
    --button-background-color: var(--button-bg-color-white);
    --button-text-color: var(--button-text-color-dark);
    --footer-fg-color: var(--footer-fg-color-white);
    --md-primary-fg-color: var(--background-color-dark);
}

[data-md-color-scheme="default"] {
    --title-text-color: var(--title-text-color-dark);
    --button-background-color: var(--button-bg-color-dark);
    --button-text-color: var(--button-text-color-white);
    --footer-fg-color: var(--footer-fg-color-dark);
    --md-primary-fg-color: var(--background-color-white);
}

[dir=ltr] .md-header__title {
    margin-left: 0.5rem;
    margin-right: .4rem;
}

.md-typeset__table table:not([class]) {
    font-size: .80rem;
    width: 100%;
}

.md-typeset__table {
    width: 100%;
}

.md-nav__item .md-nav__link--active,
.md-nav__item .md-nav__link--active code {
  color:var(--default-text-color);
}

.operator_overloading_method {
    width: 30%;
}

.operator_overloading_description {
    width: 50%;
}

.md-footer {
    background-color: rgba(0, 0, 0, 0);
}

.md-footer__title {
    color: var(--footer-fg-color);
}

.md-footer__direction {
    color: var(--footer-fg-color);
}

.md-footer__button {
    color: var(--footer-fg-color);
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 2rem;
}

.md-header__button.md-logo {
    margin-right: 0
}

.apiReferenceSummaryTitle {
    top: 0;
    display: block;
    padding: 16px 12px;
    z-index: 1;
    position: sticky;
    margin-bottom: 16px;
    background-color: #4a4156;
    border-radius: 10px;
    color: #fff
}

.apiReferenceAccessBox {
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
    font-size: 15px;
    text-transform: none;
    align-items: center;
    background-color: rgb(99, 87, 87);
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-flex;
    float: right;
    height: 24px;
    width: auto;
    text-align: center;
    padding: 6px;
}

.apiReferenceMethodBox {
    width: 1000px;
}

.apiReferenceFunctionTitle {
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: -20px
}

.apiReferenceFunctionType {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: -26px;
    padding-left: 5px;
}

.apiReferenceFunctionTypeIndicator {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: -26px;
    padding-left: 5px;
}

#classppTitle {
    font-weight: 700;
    letter-spacing: -.02em;
    z-index: inherit;
    color: var(--title-text-color);
}

.classppTitleDes {
    z-index: inherit;
}

#classppTitleSeperator {
    margin-top: -30px;
    width: 33%;
    border: none;
    height: 2px;
    color: #333;
    background-color: #333;
}

#classppMainSection {
    position: relative;
	min-height: 30rem;
	font-size: 1.2em;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
    padding-top: 2rem;
    z-index: 1;
}

#classppMainSection::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-repeat: no-repeat;
	background-size: 60vh 43vh;
	background-position: center right;
    background-image: url("../img/cppicon_v2.png");
    z-index: 0;
    margin-bottom: 12%;
}

#classppNavButton {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    font-weight: 610;
    font-size: 0.76rem;
    border-radius: 0.3rem;
    position: relative;
}