[data-md-color-scheme="classppdoc-dark"] {
    --default-text-color: var(--text-color-white);
    --title-text-color: var(--title-text-color-white);

    --button-background-color: var(--button-bg-color-white);
    --button-text-color: var(--button-text-color-dark);

    --footer-fg-color: var(--footer-fg-color-white);

    --md-typeset-color: var(--text-color-white);
    --md-typeset-a-color: var(--text-color-white);

    --md-footer-fg-color: var(--footer-fg-color);

    --md-primary-fg-color: var(--top-background-color-dark);
    --md-default-bg-color: var(--main-background-color-dark);
    --md-default-fg-color--light: var(--text-color-white);
}

[data-md-color-scheme="classppdoc-light"] {
    --default-text-color: var(--text-color-black);
    --title-text-color: var(--title-text-color-dark);

    --button-background-color: var(--button-bg-color-dark);
    --button-text-color: var(--button-text-color-white);

    --footer-fg-color: var(--footer-fg-color-dark);
    
    --md-typeset-color: var(--text-color-black);
    --md-typeset-a-color: var(--text-color-black);

    --md-footer-fg-color: var(--footer-fg-color);

    --md-primary-fg-color: var(--top-background-color-white);
    --md-default-bg-color: var(--main-background-color-white);
    --md-default-fg-color--light: var(--text-color-black);
}

