[data-md-color-scheme="classppdoc-dark"] {
    --default-text-color: var(--text-color-white);
    --title-text-color: var(--title-text-color-white);

    --button-background-color: var(--button-bg-color-white);
    --button-text-color: var(--button-text-color-dark);

    --footer-fg-color: var(--footer-fg-color-white);

    --md-typeset-color: var(--text-color-white);
    --md-typeset-a-color: var(--typeset-a-color);

    --md-footer-fg-color: var(--footer-fg-color);

    --md-primary-fg-color: var(--top-background-color-dark);
    --md-default-bg-color: var(--main-background-color-dark);
    --md-default-fg-color--light: var(--text-color-white);

    --md-typeset-table-color: var(--table-background-color-dark);
    --td-color: var(--td-color-dark);

    --md-admonition-fg-color: var(--admonition-fg-color-dark);
	--md-admonition-bg-color: var(--admonition-bg-color-dark);

    --hr-color: var(--hr-white);
}

[data-md-color-scheme="classppdoc-light"] {
    --default-text-color: var(--text-color-dark);
    --title-text-color: var(--title-text-color-dark);

    --button-background-color: var(--button-bg-color-dark);
    --button-text-color: var(--button-text-color-white);

    --footer-fg-color: var(--footer-fg-color-dark);
    
    --md-typeset-color: var(--text-color-dark);
    --md-typeset-a-color: var(--typeset-a-color);

    --md-footer-fg-color: var(--footer-fg-color);

    --md-primary-fg-color: var(--top-background-color-white);
    --md-default-bg-color: var(--main-background-color-white);
    --md-default-fg-color--light: var(--text-color-dark);

    --md-typeset-table-color: var(--table-background-color-white);
    --td-color: var(--td-color-white);

    --md-admonition-fg-color: var(--admonition-fg-color-white);
	--md-admonition-bg-color: var(--admonition-bg-color-white);

    --hr-color: var(--hr-dark);
}

.md-typeset a {
    color: var(--md-typeset-a-color);
    word-break: break-word;
}

.md-typeset__table table:not([class]) {
    font-size: .80rem;
    width: 100%;
    border-radius: 0.5em;
    border: none;
    background-color: var(--md-typeset-table-color);
}

.md-typeset__table {
    width: 100%;
    padding-left: 0.5em;
    margin-bottom: 0em;
    padding: 0 0.5rem;
}

td {
    border: none;
    width: fit-content;
}

.md-typeset :is(.admonition, details) > :is(.admonition-title, summary) {
	background-color: var(--md-admonition-bg-color);
    border-radius: 0.4rem;
}

.md-typeset .admonition {
    border-radius: 0.4rem;
}

.md-typeset hr {
    border-bottom: .05rem solid var(--hr-color);
}

.md-typeset h3:not(.api-summary-list-h3, .api-summary-section-h3) {
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 1.5;
    margin: 1.6em 0 .8em;
}