:root {
    --default-text-color: #ffffffdf;
    --default-text-color-open: #534ab7;

    --title-text-color-white: #fff;
    --title-text-color-dark: #36303f;

    --text-color-white: #ffffffdf;
    --text-color-black: #111111;

    --button-bg-color-white: #fff;
    --button-bg-color-dark: #362f62;

    --button-text-color-white: #fff;
    --button-text-color-dark: #362f62;

    --footer-fg-color-dark: #36303f;
    --footer-fg-color-white: #fff;
    
    --top-background-color-dark: #111218;
    --top-background-color-white: #cccad7;
    
    --main-background-color-dark: #111218;
    --main-background-color-white: #bfbecd;

    --code-bg-color-black: #1f1e2d;
    --code-bg-color-white: #9893d9;
    --code-fg-color-black: #36464e;
    --code-fg-color-white: #9893d9;
    --code-h1-variable-color-white: #d0cbdd;
    --code-h1-variable-color-black: #27262a;
}