:root {
    --default-text-color: #6d61fd;
    --default-text-color-open: #534ab7;

    --title-text-color-white: #fff;
    --title-text-color-dark: #36303f;

    --text-color-white: #fff;
    --text-color-black: #111111;

    --button-bg-color-white: #fff;
    --button-bg-color-dark: #362f62;

    --button-text-color-white: #fff;
    --button-text-color-dark: #362f62;

    --footer-fg-color-dark: #36303f;
    --footer-fg-color-white: #fff;
    
    --top-background-color-dark: #14151C;
    --top-background-color-white: #cccad7;
    
    --main-background-color-dark: #14151C;
    --main-background-color-white: #bfbecd;
}

[data-md-color-scheme="classppdoc-dark"] {
    --title-text-color: var(--title-text-color-white);

    --button-background-color: var(--button-bg-color-white);
    --button-text-color: var(--button-text-color-dark);

    --footer-fg-color: var(--footer-fg-color-white);

    --md-primary-fg-color: var(--top-background-color-dark);
    --md-default-bg-color: var(--main-background-color-dark);

    --md-typeset-color: var(--text-color-white);
}

[data-md-color-scheme="classppdoc-light"] {
    --title-text-color: var(--title-text-color-dark);

    --button-background-color: var(--button-bg-color-dark);
    --button-text-color: var(--button-text-color-white);

    --footer-fg-color: var(--footer-fg-color-dark);

    --md-primary-fg-color: var(--top-background-color-white);
    --md-default-bg-color: var(--main-background-color-white);

    --md-typeset-color: var(--text-color-black);
}

